* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

h1 {
  font-size: 24px;
}

#container {
  display: flex;
  height: 100%;
}

#controls {
  flex: 0 0 200px;
  background-color: #E5E5E5;
  padding: 5px 15px;
}

.section {
  margin-top: 10px;
}

.sub-section {
  margin-top: 5px;
}

#min-rain, #max-rain {
  width: 5em;
}

#vis {
  flex: 1;
  height: 100%;
}

#container-svg {
  width: 100%;
  height: 100%;
}

.title {
  text-anchor: middle;
  font-family: sans-serif;
  font-size:  12px;
}

.hide {
  display: none;
}

